.closeForm {
  width: 40px;
  height: 40px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  position: absolute;
  right: 15px;
  margin-top: -30px;
}

.filterForm {
  margin: 12px 15px 0 15px;
  background-color: #FFFFFF;
}

.filterForm h3 {
  font-weight: 700;
  font-size: 20.4px;
  color: #101111;
}

.beerNameFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14.16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filterForm svg {
  margin: 14px 0 ;
}

.buttonsContainer {
  width: 100%;
  height: 68px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
}

.FilterForm-filterButton {
  background-color: #0000A3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  border-radius: 4px;
}

.FilterForm-filterButton p {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14.16px;
  margin-right: 5px;
}

.FilterForm-cleanButton {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 15px;
}

.FilterForm-cleanButton p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14.16px;
  color: #828383;
}

.customCheckboxOff {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}

.customCheckboxOn {
  background-color: #0000A3;
  border-radius: 4px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleCheckboxOff {
  display: none;
}

.toggleCheckboxOn {
  display: flex;
}