.contactContainer {
  width: 100%;
  height: 209px;
  background-color: #0F0F0F;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 36px;
}

.contactContainer h3 {
  margin-top: 36px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14.16px;
}

.icons {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.chat, .call {
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.call, .llamarText {
  margin-left: 12px;
}

.iconText {
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 11.8px;
  margin-top: 12px;
}

.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutUs p {
  text-transform: uppercase;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 14.16px;
  color: #101111;
}

.lineDivide {
  margin-top: 18px; /* Se tienen en cuenta los 18px de margin-bottom en aboutUs p */
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
}

.instagramContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.instagram {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000A3;
  cursor: pointer;
}

.politics {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11.8px;
  text-align: center;
  margin-bottom: 36px;
}

.endFooter {
  background-color: #0F0F0F;
  width: 100%;
  height: 47px;
}