.flexContainer {
  display: flex;
  justify-content: center;
  /* padding: 0 15px; */
}

.gridItemContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.beerItemContainer {
  list-style: none;
}

.itemContainer {
  width: 165px;
  height: 278px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
}

.agregarButton {
  width: 165px;
  height: 35px;
  border: 1px solid #E6E6E6;
  background-color: #F4F4F4;
  box-sizing: border-box;
}

@media only screen and (min-width: 720px) {
  .gridItemContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}