.beerItemContainer {
  list-style: none;
}

.itemContainer {
  width: 165px;
  height: 294px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.frame {
  width: 137px;
  height: 278px;
  /* border: 1px solid red; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.frame img {
  width: 137px;
  height: 140px;
  margin-top: 18px;
}

.beerName {
  font-weight: 700;
  font-size: 14px;
  margin-top: 13px;
}

.beerDescription {
  font-weight: 400;
  font-size: 11px;
  color: #6D7275;
  margin-top: 11px;
  line-height: 16px;
}

.price {
  font-weight: 600;
  font-size: 14.16px;
  color: #101111;
  margin-top: auto;
  margin-bottom: 2px;
}

.price::before {
  content:'$';
}

.agregarButton {
  width: 165px;
  height: 35px;
  border: 1px solid #E6E6E6;
  background-color: #F4F4F4;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agregarButton p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14.16px;
  color: #0000A3;
}